body {
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    align-self: center;
    font-family: 'Sofia Sans';
    font-style: normal;
    font-weight: 1 1000;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6R-LCVXSLy9uPBwlATrO96kigt.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    font-size: 50px;
}

.horizontalne {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h2 {
    justify-content: flex-start;
}

#hledani {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}



.avatar {
    vertical-align: middle;
    vertical-align: text-top;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }


.img {
    aspect-ratio: 1 / 1;

    width: 300px;
    height: 300px;
    object-fit: cover;
    flex-basis: 30%;
    border-width: 4px;
    margin: 2px;
    border-radius: 30px;
    flex-basis: 30%;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, .5);
}

.podSebou {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}




.packa {
    list-style: none;
    padding: 0;
    margin: 0;
  
    li {
      padding-left: 1rem;
      text-indent: -0.7rem;
    }
  
  }

  .bullet {
    width: 12px;
    padding-right: 3px;
}

.icon {
    width: 12px;
    height: 12px;
    object-fit: cover;
    border-radius: 50%;
  }


#button {
   background: #f2e3d1;
   margin-left: 10px;
}

#footer {
    text-align: center;
    justify-content: flex-end;
    padding: 3px;
    background-color: #f2e3d1;
    color: black;
    margin: 0;
  }

.koment {
    flex-basis: 30%;
border-style: solid;
border-width: 4px;
border-color: #c6b5a5;
margin: 2px;
border-radius: 30px;
padding: 10px;
background-color: #f2e3d1;

}

html {
   margin-left: 10px;
   margin-right: 10px;
}

.my {
   justify-content: flex-start;
   align-items: row;
   width: 30px;
   height: 30px;
}