html {
    padding: 40px;
    font-family: "Sofia Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

ul {

    display: flex;
    flex-direction: row;
    justify-items: end;
    background-color: #E0D0C1;
}

body {
    background-color: #E0D0C1;
    margin: 2px;
}

nav {
    color: #ffffff;
    background: #914F1E;
    display: flex;
    flex-direction: row;
    position: fixed;
    margin-right: 2%;
    padding: 0;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
}


#logo {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#sides {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: start;

}

.n {
    display:flex;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    color: bisque;
    text-decoration: none;
    transition-duration: 600ms;
}

h1 {
    margin-top: 130px;
}

.tapkaSeznam {
    color: black;
  }

body {
    font-family: "Sofia Sans", sans-serif;
    margin: 1%;
}

#logo {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#sides {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: start;

}

.n:hover {
    transform: translateY(-5px);
}

#packy {
    width: 100px;
    margin: 10px;
    color: bisque;
    text-decoration: none;
    font-size: 25px;
}

#psindr {
    align-self: flex-start;
    text-decoration: none;
    color: bisque;
    font-size: 50px;
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
    

}

nav {
    color: white;
    background: #9e5d2b;
    display: flex;
    flex-direction: row;
    position: fixed;
    margin-right: 2%;
    padding: 0;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;


}

a {
    text-decoration: none;
    color: bisque;
}

a:hover {
    color: rgb(242, 147, 30);
    cursor: pointer;

}
text{
    line-height: normal;
}