html {
    padding: 0px;
    font-family: "Sofia Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    display: flex;
    align-self: center;
    font-family: 'Sofia Sans';
    font-style: normal;
    font-weight: 1 1000;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6R-LCVXSLy9uPBwlATrO96kigt.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    font-size: 50px;
    justify-content: center;
  }

ul {

    display: flex;
    flex-direction: row;
    justify-items: end;
    background-color: #E0D0C1;
}

body {
    background-color: #E0D0C1;
    
}

nav {
    color: #ffffff;
    background: #914F1E;
    display: flex;
    flex-direction: row;
    position: fixed;
    margin-right: 2%;
    padding: 0;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
}


#logo {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#sides {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: start;

}

.n {
    display:flex;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    color: bisque;
    text-decoration: none;
    transition-duration: 600ms;
}

h1 {
    margin-top: 130px;
}

.tapkaSeznam {
    color: black;
  }

body {
    font-family: "Sofia Sans", sans-serif;
}

#logo {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#sides {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: start;

}

.n:hover {
    transform: translateY(-5px);
}

#packy {
    width: 100px;
    margin: 10px;
    color: bisque;
    text-decoration: none;
    font-size: 25px;
}

#psindr {
    align-self: flex-start;
    text-decoration: none;
    color: bisque;
    font-size: 50px;
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
    

}

nav {
    color: white;
    background: #9e5d2b;
    display: flex;
    flex-direction: row;
    position: fixed;
    margin-right: 2%;
    padding: 0;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;


}

a {
    text-decoration: none;
    color: bisque;
}

a:hover {
    color: rgb(242, 147, 30);
    cursor: pointer;

}
.text{
    font-family: "Sofia Sans", sans-serif;
    line-height: normal;
    color: black;
    font-size: 40px;

}
.lista{
    font-family: "Sofia Sans", sans-serif;
    font-weight: 700;
    font-size: 100px;
    font-style: normal;
}
